<div appPageBody>
  <app-page-title>
    卷
  </app-page-title>
  <nz-table #rowSelectionTable
    [nzData]="dataSet$ | async"
    [nzShowSizeChanger]="true"
    [nzBordered]="true"
    (nzCurrentPageDataChange)="currentPageDataChange(rowSelectionTable.data)"
    (nzPageIndexChange)="selection.clear()"
    (nzPageSizeChange)="selection.clear()">
    <thead nzSingleSort
      (nzSortChange)="sort($event)">
      <tr>
        <th nzShowCheckbox
          [nzChecked]="selection.hasValue() && isAllSelected()"
          [nzIndeterminate]="selection.hasValue() && !isAllSelected()"
          (nzCheckedChange)="masterToggle($event)">
        </th>
        <th nzShowSort
          nzSortKey="name">
          名称
        </th>
        <th>描述</th>
        <th>大小</th>
        <th>状态</th>
        <th>类型</th>
        <th>连接到</th>
        <th>可用域</th>
        <th>可启动</th>
        <th>加密的</th>
        <th>动作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzShowCheckbox
          [nzChecked]="selection.isSelected(data)"
          (nzCheckedChange)="selection.toggle(data)"></td>
        <td>
          <a href="">{{data.name}}</a>
        </td>
        <td>
          {{data.description}}
        </td>
        <td>{{data.size}}</td>
        <td>{{data.status}}</td>
        <td>{{data.zone}}</td>
        <td></td>
        <td>{{data.zone}}</td>
        <td>{{data.bootable}}</td>
        <td>{{data.encrypted}}</td>
        <td>
          <nz-dropdown-button nzTrigger="click">
            编辑卷
            <ul nz-menu>
              <li nz-menu-item
                (click)="onExtendVolume(data)">扩展卷</li>
              <li nz-menu-item>创建实例</li>
              <li nz-menu-item>管理连接</li>
              <li nz-menu-item>创建快照</li>
              <li nz-menu-item>修改卷类型</li>
              <li nz-menu-item>上传镜像</li>
              <li nz-menu-item>创建转让</li>
              <li nz-menu-item>删除卷</li>
              <li nz-menu-item>更新元数据</li>
            </ul>
          </nz-dropdown-button>
        </td>
      </tr>
    </tbody>
  </nz-table>

</div>
